@import url('./fonts.css');

body {
    margin: 0 auto;
    padding: 0;  
}

.portfolio__wrap {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

.portfolio {
    background-color: #2d303a;
    position: relative;
    height: 864px;
    border-bottom: 6px solid#323746;    
}

.portfolio__title { 
    position: absolute;
    left: 41px;
    top: 70px;
    margin: 0;
    font-size: 30px;
    line-height: 18px;
    color:#666d89;
    font-family: Lato, sans-serif;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.3px;
}

.portfolio__desc {
    position: absolute;
    top: 114px;
    left: 41px;
    margin: 0 42px 0 0;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: left;
}

.portfolio__buttons {
    display: flex;
    margin: 0 0;
    position: relative;
    top: 155px;
    left: 2px;
    line-height: 9px;
    justify-content: space-between;
    width: 288px;
    list-style-type: none;
}

.portfolio__buttons button {
    outline: none;
    border: 1px solid #666d89;
    border-radius: 5px;
    height: 22px;
    background-color: transparent;
    font-size: 12.1px;
    color: #767e9e;
    font-family: Lato, sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.1px;
    cursor: pointer;
    transition: all 0.5s;
}

.portfolio__buttons button:focus {
    color: #dedede;
    border-color: #c5c5c5;
}

.portfolio__buttons button:hover {
    color: #dedede;
    border-color: #c5c5c5;
}

.portfolio__img {
    position: relative;
    top: 148px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
    height: 621px;
}

.img__item {
    height: 187px;
    width: 220px;
    margin: 10px 10px;
    background-color: #464b5e;
    background-repeat: no-repeat;
    position: relative;
}

.img__item :hover {
    box-shadow: 0 0 10px rgba(256,256,256,0.5);
}

.img__item a {
    position: absolute;
    width: inherit;
    height: inherit;
}

.img__item:first-child {
    background-image: url(./assets/img1.png);
}
.img__item:nth-child(2) {
    background-image: url(./assets/img2.png);
}
.img__item:nth-child(3) {
    background-image: url(./assets/img3.png);
}
.img__item:nth-child(4) {
    background-image: url(./assets/img4.png);
}
.img__item:nth-child(5) {
    background-image: url(./assets/img5.png);
}
.img__item:nth-child(6) {
    background-image: url(./assets/img6.png);
}
.img__item:nth-child(7) {
    background-image: url(./assets/img7.png);
}
.img__item:nth-child(8) {
    background-image: url(./assets/img8.png);
    position: relative;
    right: 1px;
}
.img__item:nth-child(9) {
    background-image: url(./assets/img9.png);  
}
.img__item:nth-child(10) {
    background-image: url(./assets/img10.png); 
}
.img__item:nth-child(11) {
    background-image: url(./assets/img11.png);  
}
.img__item:nth-child(12) {
    background-image: url(./assets/img12.png);       
}

.about__wrapper {
    width: 1020px;
    height: 668px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;  
    padding-top: 59px;
}

.about__title{
    margin: 0;   
    padding: 0 40px;
    font-size: 30px;    
    color: #666d89;
    font-family: Lato, sans-serif;
    font-weight: 900;
    text-align: left;
}

.about__desc {   
    width: 940px;
    height: 57px;
    margin: 18px 0 48px 0;
    padding: 0 40px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: left;
    text-align: justify;
}

.about__column {
    display: flex;
    justify-content: space-between;
    width: 940px;  
    list-style: none;
}

.about__name {
    width: 300px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: Lato, sans-serif;
    font-weight: 900; 
    margin: 13px 0;
    text-align: justify;
    letter-spacing: -0.1px;
    overflow: hidden;
    white-space: nowrap;
    }

.about__quote {
    width: 300px;
    height: 68px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: Lato, sans-serif;
    font-weight: 400;  
    margin: -3px 0;
    text-align: justify;
    word-spacing: -0.5px;    
}

.about__soc {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    width: 152px;
}

.about__soc li:hover{
    opacity: 0.4;
}
